<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <!--WCF Services Defined-->
    <client>
      <endpoint address="https://192.168.1.181/WCFServices/MyWCFService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITest"
        contract="ServiceReference1.ITest" name="BasicHttpBinding_ITest" />
    </client>
    <services>
      <service name="Contract.Test"
               behaviorConfiguration="MyWCFServiceBehavior">
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="BasicHttpSSLBinding"
                  contract="Contract.ITest" />
        <endpoint address="mex"
                  binding="mexHttpsBinding"
                  contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://192.168.1.181:443/WCFServices/MyWCFService" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <!--WCF Service Behavior Configurations-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyWCFServiceBehavior">
          <serviceMetadata httpsGetEnabled="true" httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <!--WCF Service Binding Configurations-->
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpSSLBinding">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_ITest">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>

  </system.serviceModel>
</configuration>